.circle-button{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    cursor: pointer;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto */
}
